body{
  margin: 0;
  min-height: 100vh;
  color: white;

  background-image: url("fond-st-valentin.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
